.sideBarContainer {
    background-color: white;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    padding: 4px 4px;
    border-bottom: 1px solid #d1d9e0;
    border-left: 1px solid #d1d9e0;
    position: fixed;
    right: 0;
    top: 120px;
    width: 400px; // mặc định cho màn lớn hơn 14"
    z-index: 1;

    @media (max-width: 1440px) {
        width: 300px !important; // màn 14 inch đổ xuống
    }

    .toolbox {
        height: 40vh;

        .optionContainer {
            padding: 0px 8px;
            display: block;
            gap: 12px;
            height: calc(40vh - 38px);
            overflow: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            ::-webkit-scrollbar {
                display: none;
            }

            .sidebarItem {
                cursor: grab;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 5px;
                padding: 4px 10px;
                margin-bottom: 2px;

                &:hover {
                    background-color: #e2e2e2;

                    .name {
                        color: #3b3b3b;
                    }
                }

                .icon {
                }

                .name {
                    margin-left: 4px;
                    font-size: 13.5px;
                    font-weight: 550;
                }
            }
        }
    }

    .properties {
        height: calc(54vh - 100px);

        .optionContainer {
            height: calc(54vh - 100px);
            overflow: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            ::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
