.appContainer {
          display: flex;
          flex-direction: column;
          background: #f8f9fa;
          .ruyMenu {
                    height: 120px;
                    margin-bottom: 12px;
                    background: white;
                    border-bottom: 1px solid #d1d9e0;
                    z-index: 10;
                    position: fixed;
                    top: 0;
                    width: 100%;
          }
          .contentContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    justify-content: center;
          }
}
